.header {
  background-color: var(--badges);
}
.container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navigationList {
  display: flex;
  gap: 32px;
  list-style: none;
}

.linkItem {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--main);
  transition: color 250ms linear;
}

.linkItem:hover {
  color: var(--button);
}

.active {
  color: var(--button);
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1440px;
    padding: 24px 120px;
  }
}
