.container {
  padding: 40px;
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  max-width: 450px;
}

.title {
  font-size: 24px;
  color: var(--main);
  margin-bottom: 8px;
}

.subtitle {
  color: var(--gray);
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 14px 18px;
  background-color: var(--inputs);
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  font-family: var(--font-family);
  color: var(--main);
}

.input::placeholder {
  color: var(--gray);
}

.textarea {
  height: 100px;
  resize: none;
}

.error {
  color: #ff4d4d; /* Червоний для помилок */
  font-size: 12px;
  margin-top: 4px;
}

.submitButton {
  background-color: var(--button);
  color: var(--white);
  padding: 14px;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submitButton:hover {
  background-color: var(--button-hover);
}

.submitButton:disabled {
  background-color: var(--gray-light);
  cursor: not-allowed;
}
