.container {
  padding: 32px;
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  width: 100%;
  max-width: 640px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--main);
  margin-bottom: 8px;
}

.subtitle {
  color: var(--gray);
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  width: 100%;
  min-height: 48px;
  padding: 12px 20px;
  background-color: var(--inputs);
  border: none;
  border-radius: 12px;
  outline: none;
  font-size: 16px;
  line-height: 1.25;

  color: var(--main);
}

.input::placeholder {
  color: var(--gray);
}

.textarea {
  min-height: 88px;
  resize: none;
  width: 100%;
  padding: 12px 20px;
  background-color: var(--inputs);
  border: none;
  border-radius: 12px;
  outline: none;
  font-size: 16px;
  line-height: 1.25;

  color: var(--main);
}

.error {
  position: absolute;
  color: #ff4d4d;
  font-size: 12px;
  bottom: -25%;
  left: 4px;
}

.submitButton {
  background-color: var(--button);
  color: var(--white);
  padding: 14px;
  border-radius: 10px;
  font-weight: 600;
  margin: 12px auto 0;

  border: none;
  font-size: 16px;
  line-height: 1.25;
  width: 156px;
  min-height: 44px;

  transition: background-color 250ms linear;
}

.submitButton:hover {
  background-color: var(--button-hover);
}

.submitButton:disabled {
  background-color: var(--gray-light);
  cursor: not-allowed;
}
