.filterSection {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 56px;
  justify-content: center;
  flex-wrap: wrap;
}

.label {
  display: block;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33333;
  color: var(--gray);
  margin-bottom: 8px;
}

.input {
  background-color: var(--inputs);
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  min-height: 44px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--main);
  outline: none;
}

.mileageInputs {
  display: flex;
  align-items: center;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}

.errorLabel {
  color: #f03e3e;
  font-size: 10px;
  position: absolute;
  bottom: -14px;
  left: 4px;
}

.prefix {
  position: absolute;
  left: 24px;
  top: 12px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
  color: var(--main);
  pointer-events: none;
}

.inputLeft {
  border-radius: 12px 0 0 12px;
  border-right: 1px solid var(--gray-light);
  padding: 12px 12px 12px 65px;
  width: 160px;
}

.inputRight {
  border-radius: 0 12px 12px 0;
  padding: 12px 12px 12px 45px;
  width: 160px;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.searchBtn {
  background-color: var(--button);
  color: var(--white);
  min-height: 44px;
  padding: 12px 51px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;

  transition: background-color 250ms linear;
}

.searchBtn:hover {
  background-color: var(--button-hover);
}
