.card {
  width: 274px; /* Фіксована ширина згідно з макетом */
  display: flex;
  flex-direction: column;
  height: 100%; /* Щоб всі картки були однакової висоти */
}

.imageWrapper {
  position: relative; /* ОБОВ'ЯЗКОВО для роботи Next Image fill */
  width: 100%;
  height: 268px;
  border-radius: 14px;
  overflow: hidden; /* Щоб картинка не виходила за межі радіуса */
  margin-bottom: 14px;
}

.titleLine {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}

.infoLine {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 6px;
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  margin-bottom: 28px;
  /* Обмежуємо висоту тексту, щоб кнопки були на одному рівні */
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.learnMoreBtn {
  margin-top: auto; /* Штовхає кнопку вниз, якщо тексту мало */
  width: 100%;
  padding: 12px;
  background-color: var(--button);
  color: var(--white);
  border-radius: 12px;
  text-align: center;
  font-weight: 600;
}
