.card {
  position: relative;
  width: 276px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 20px;
  cursor: wait;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 268px;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 14px;
}

.titleLine {
  display: flex;
  justify-content: space-between;

  margin-bottom: 8px;
}

.titleText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}

.model {
  color: var(--button);
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}

.infoLine {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 6px;
  color: var(--gray);
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 32px;
  overflow: hidden;
}

.readMoreBtn {
  width: 100%;
  padding: 12px;
  background-color: var(--button);
  color: var(--white);
  border-radius: 12px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  text-align: center;

  transition: background-color 250ms linear;
}
.readMoreBtn:hover {
  background-color: var(--button-hover);
}

.favoriteBtn {
  position: absolute;
  top: 16px;
  right: 16px;

  background: transparent;
  border: none;
  padding: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
}

.heartIcon {
  fill: none;
  stroke: var(--badges);
  transition:
    fill 250ms linear,
    stroke 250ms linear;
}

.heartIcon.active {
  fill: var(--button);
  stroke: var(--button);
}
