.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 20px;
  cursor: wait;
}

.grid {
  display: grid;
  grid-template-columns: minmax(auto, 276px);
  gap: 30px;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 276px);
    gap: 40px 29px;
  }
}

@media only screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 276px);
  }
}

@media only screen and (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(4, 276px);
    gap: 48px 32px;
    margin-bottom: 80px;
  }
}

.loadMore {
  color: var(--main);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;

  padding: 12px 38px;
  min-height: 44px;
  border: 1px solid var(--button);
  border-radius: 12px;

  transition: border-color 250ms linear;
}

.loadMore:hover {
  border-color: var(--button-hover);
}
