.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: minmax(auto, 274px);
  gap: 30px;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 274px);
    gap: 40px 29px;
  }
}

@media only screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 274px);
  }
}

@media only screen and (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(4, 274px);
    gap: 48px 32px;
    margin-bottom: 80px;
  }
}

.loadMore {
  color: var(--main);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;

  cursor: pointer;
  padding: 12px 38px;
  min-height: 44px;
  border: 1px solid var(--button);
  border-radius: 12px;

  transition: border-color 250ms linear;
}

.loadMore:hover {
  border-color: var(--button-hover);
}
