.label {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray);
  line-height: 1.33333;
  margin-bottom: 0;
}

.input {
  background-color: var(--inputs);
  border: none;
  padding: 12px 16px;
  min-height: 44px;
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--main);
  border-radius: 12px;
}
.input::placeholder {
  color: var(--main);
  opacity: 1;
}

.customChevron {
  fill: var(--main);
  transition: transform 250ms linear;
  pointer-events: none;
}

.input[data-expanded] + :global(.mantine-Select-section) .customChevron {
  transform: rotate(180deg);
}

.section .clearButton {
  background-color: var(--inputs) !important;
  color: var(--main);

  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.option {
  font-size: 16px;
  border-radius: 8px;
  color: var(--gray);

  transition: color 250ms linear;
}

.option:hover,
.option[data-combobox-active],
.option[data-combobox-selected] {
  background-color: transparent;
  color: var(--main);
}

.dropdown :global(.mantine-ScrollArea-viewport) {
  padding-right: 8px;
}

.dropdown :global(.mantine-ScrollArea-scrollbar) {
  background-color: transparent;
  width: 8px;
  margin: 4px;
}

.dropdown :global(.mantine-ScrollArea-thumb) {
  background-color: rgba(18, 20, 23, 0.1);
  border-radius: 10px;

  transition: background-color 250ms linear;
}

.dropdown :global(.mantine-ScrollArea-thumb):hover {
  background-color: rgba(18, 20, 23, 0.2);
}

/* --- Специфічні класи для DatePicker --- */

.calendarLabel {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main);
}

.calendarControl {
  color: var(--button);
}
.calendarControl:hover {
  color: var(--button-hover);
}

.calendarWeekday {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: var(--gray);
  padding: 0;
  border-bottom: 1px solid var(--button);
  padding-bottom: 12px;
}

.calendarDay {
  height: 32px;
  font-size: 14px;
  color: var(--main);
  border-radius: 50%;
  transition: all 250ms linear;
}

.calendarDay[data-selected] {
  background-color: var(--button);
  color: var(--white);
}

.calendarDay[data-outside] {
  color: var(--gray);
}

.calendarDay:hover:not([data-selected]) {
  background-color: rgba(52, 112, 255, 0.1);
}

.popoverDropdown {
  --popover-border-color: var(--button);
  --popover-bg: var(--white);

  border: 1px solid var(--popover-border-color);
  background-color: var(--popover-bg);
  border-radius: 16px;
  padding: 12px 0;

  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
}
.popoverArrow {
  border: 1px solid var(--button);
}
