.container {
  padding: 40px;
}

@media only screen and (min-width: 740px) {
  .container {
    padding: 60px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding: 84px 120px;
  }
}
