.main {
  padding: 40px 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  gap: 40px;
  justify-items: center;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  width: 100%;
  max-width: 640px;
}

.galleryWrapper {
  position: relative;
  width: 100%;
  max-width: 640px;
  aspect-ratio: 640 / 448;
  border-radius: 14px;
  overflow: hidden;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
}

@media only screen and (min-width: 768px) {
  .main {
    padding: 60px 40px;
  }

  .contentWrapper {
    gap: 48px;
  }
}

@media only screen and (min-width: 1024px) {
  .contentWrapper {
    justify-items: stretch;
    grid-template-columns: minmax(400px, 640px) 1fr;
    gap: 40px;
  }

  .leftColumn {
    max-width: none;
    justify-content: space-between;
  }

  .rightColumn {
    max-width: none;
  }
}

@media only screen and (min-width: 1440px) {
  .main {
    padding: 80px 120px;
  }

  .contentWrapper {
    grid-template-columns: 640px 1fr;
    gap: 64px;
  }
}
