.toast {
  background-color: #ffffff !important;
  color: #121417 !important;
  border-radius: 12px !important;
  border: 1px solid #3470ff !important;
  font-size: 16px !important;
  padding: 12px 20px !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1) !important;
}

.toastSuccess {
  border-color: #3470ff !important;
}

.toastError {
  border-color: #ef4444 !important;
}
